.about {
    color: green;
    font-size: 2rem;
}
.logo {
    max-width: 310px;
}

header {
    background-image: linear-gradient(270deg, #402F80 0%, #472265 33%, #1E1549 77%);

}

header .nav-link {
    font-size: 18px;
    color: #FFFFFF !important;
    letter-spacing: 0;
}

.Marquee { overflow-x: hidden; }
.MarqueeContent { display: inline-block; }

.slick-prev {
    position: absolute;
    left: 0px;
    height: 60px;
    width: 40px;
    transform: translateY(0%);
    z-index: 100;
}

.slick-prev:before {
    display: block;
    color: #cccccc;
    font-size: 40px;
    content: '\f104';
    font-family: fontawesome;
    padding: 10px;
    background-color: black;
}
.slick-next {
    position: absolute;
    right: 0px;
    height: 60px;
    width: 40px;
    transform: translateY(0%);
    z-index: 100;
}

.slick-next:before {
    display: block;
    color: #cccccc;
    font-size: 40px;
    content: '\f105';
    font-family: fontawesome;
    padding: 10px;
    background-color: black;
}