@import 'breakpoint-sass';
@import 'base/setting';
@import 'base/userStateBar';
@import 'base/display';
@import 'base/slideMenu';
@import 'base/slideMenuMobile';
@import 'base/sectionTitle';
@import 'base/banner';
@import 'base/tabs';
@import 'base/modal';
@import 'base/outlineBtn';
@import 'base/item';
@import 'accordions';
@import 'itemBox';
@import 'itemContainer';
@import 'bonus';
@import 'header';
@import 'header_mobile';
@import 'BottomNav';
@import 'stratingPlayMobile';
@import 'userTest';
@import 'UserHeaderSec';
@import 'mobileBodyBox';
@import 'menu';
@import 'UpMenu';
@import 'UpSwitch';
@import 'DDWallet';
@import 'gameCard';
@import 'gameNavigation';
@import 'dropDownBox';
@import 'transferWallet';
@import 'noticeBox';

.superAwesome {
  color: white;
  margin-bottom: unset;
  height: 45px;
  background-image: linear-gradient(
    180deg,
    #fdf8a2 3%,
    #f4d97a 47%,
    #eec462 100%
  );
}

.flexContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.marquee {
  &_flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1100px;
    overflow: hidden;
    @include breakpoint(max-width 500px) {
      max-width: 500px;
    }
  }

  max-height: 25px;
  display: flex;
  align-items: center;
  background-color: black;
  text-align: center;
  justify-content: center;

  &_text {
    margin: 0;
    font-size: 1rem;
    white-space: nowrap;
    color: $mainText;
  }

  span {
    margin-right: 10px;
    text-align: right;
    color: $mainText;
  }
}
